﻿@model Blog3_3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

@Html.Partial("_addComment", new Blog3_3.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
        <div class="display-field">
            <h2> Ngay tao: @Html.DisplayFor(x => comment.DateCreated) </h2>
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
